{% extends 'base.html.twig' %}

{% block title %}Availability index{% endblock %}

{% block body %}
    <h1>Availability index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Availability</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for availability in availabilities %}
            <tr>
                <td>{{ availability.id }}</td>
                <td>{{ availability.availability }}</td>
                <td>
                    <a href="{{ path('app_backoffice_availability_show', {'id': availability.id}) }}">show</a>
                    <a href="{{ path('app_backoffice_availability_edit', {'id': availability.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_backoffice_availability_new') }}">Create new</a>
{% endblock %}
